beautifulsoup4==4.12.3
faiss-cpu==1.8.0
google-api-python-client==2.129.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
langchain==0.1.20
langchain-community==0.0.38
pre-commit==3.6.0
sentence-transformers==2.7.0
streamlit==1.34.0
torch==2.2.2
tqdm==4.66.4
